$planet-img-width: 224px; // same for all img

// $orbit-duration: 10;
// $mercury-orbit-ratio: $orbit-duration * 0.241;
// $venus-orbit-ratio: $orbit-duration * 0.615;
// $earth-orbit-ratio: $orbit-duration;
// $mars-orbit-ratio: $orbit-duration * 1.881;
// $jupiter-orbit-ratio: $orbit-duration * 11.862;
// $saturn-orbit-ratio: $orbit-duration * 29.457;
// $uranus-orbit-ratio: $orbit-duration * 84.017;
// $neptune-orbit-ratio: $orbit-duration * 164.79;
$orbit-duration: 20;
$mercury-orbit-ratio: $orbit-duration * 1;
$venus-orbit-ratio: $orbit-duration * 0.9;
$earth-orbit-ratio: $orbit-duration * 0.8;
$mars-orbit-ratio: $orbit-duration * 0.7;
$jupiter-orbit-ratio: $orbit-duration * 0.6;
$saturn-orbit-ratio: $orbit-duration * 0.3;
$uranus-orbit-ratio: $orbit-duration * 0.5;
$neptune-orbit-ratio: $orbit-duration * 0.4;

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.star {
  position: fixed;
  width: 1px;
  height: 1px;
  background: #fff;
  border-radius: 50%;
  animation-name: twinkle;
  animation-iteration-count: infinite;
  z-index: 0;
  opacity: 1;
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}

#sun {
  position: fixed;
  z-index: 1;
  width: 10%;
  height: 10%;
  top: calc(50% - 5%);
  left: calc(50% - 5%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.axis {
  position: fixed;
  z-index: 1;
  border-radius: 50%;
  top: 50%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.planet {
  position: fixed;
}

.axis-mercury {
  animation: orbit $mercury-orbit-ratio * 1s linear infinite;

  #mercury {
    width: 3%;
    height: 3%;
    left: 41%;
    animation: spin $mercury-orbit-ratio * 1s linear infinite;
  }
}

.axis-venus {
  animation: orbit $venus-orbit-ratio * 1s linear infinite;

  #venus {
    width: 4.5%;
    height: 4.5%;
    left: 36%;
    animation: spin $venus-orbit-ratio * 1s linear infinite;
  }
}

.axis-earth {
  animation: orbit $earth-orbit-ratio * 1s linear infinite;

  #earth {
    width: 4%;
    height: 4%;
    left: 32%;
    animation: spin $earth-orbit-ratio * 1s linear infinite;
  }
}

.axis-mars {
  animation: orbit $mars-orbit-ratio * 1s linear infinite;

  #mars {
    width: 3%;
    height: 3%;
    left: 28%;
    animation: spin $mars-orbit-ratio * 1s linear infinite;
  }
}

.axis-jupiter {
  animation: orbit $jupiter-orbit-ratio * 1s linear infinite;

  #jupiter {
    width: 7%;
    height: 7%;
    left: 24%;
    animation: spin $jupiter-orbit-ratio * 1s linear infinite;
  }
}

.axis-saturn {
  animation: orbit $saturn-orbit-ratio * 1s linear infinite;

  #saturn {
    width: 6%;
    height: 6%;
    left: 20%;
    animation: spin $saturn-orbit-ratio * 1s linear infinite;
  }
}

.axis-uranus {
  animation: orbit $uranus-orbit-ratio * 1s linear infinite;

  #uranus {
    width: 3%;
    height: 3%;
    left: 16%;
    animation: spin $uranus-orbit-ratio * 1s linear infinite;
  }
}

.axis-neptune {
  animation: orbit $neptune-orbit-ratio * 1s linear infinite;

  #neptune {
    width: 7%;
    height: 7%;
    left: 12%;
    animation: spin $neptune-orbit-ratio * 1s linear infinite;
  }
}
