$orbit-duration: 20;
$mercury-orbit-ratio: $orbit-duration * 1;
$venus-orbit-ratio: $orbit-duration * 0.95;
$earth-orbit-ratio: $orbit-duration * 0.9;
$earth-moon-orbit-ratio: $orbit-duration * 0.1;
$mars-orbit-ratio: $orbit-duration * 0.85;
$jupiter-orbit-ratio: $orbit-duration * 0.8;
$saturn-orbit-ratio: $orbit-duration * 0.75;
$uranus-orbit-ratio: $orbit-duration * 0.7;
$neptune-orbit-ratio: $orbit-duration * 0.65;
