$sun-width: 224px;

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background: #fff;
  border-radius: 50%;
  animation-name: twinkle;
  animation-iteration-count: infinite;
  z-index: 0;
  opacity: 1;
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}

#sun {
  top: calc(50% - 112px);
  left: calc(50% - 112px);
  position: absolute;
  z-index: 1;
}

.axis {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  top: 50%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  animation: orbit 10s linear infinite;

  .planet {
    position: absolute;
    animation: spin 10s linear infinite;
  }

  #mercury {
    width: 2em;
    height: 2em;
    left: 38%;
  }

  #venus {
    width: 4em;
    height: 4em;
    left: 33%;
  }

  #earth {
    width: 3em;
    height: 3em;
    left: 29%;
  }
}
